{% extends 'base.html' %} {% block content %}
<div class="text-center">
  <h1 class="display-4">Welcome to the Supply Chain Management System</h1>
  <p class="lead">
    Simplifying interactions between suppliers, manufacturers, and customers.
  </p>
  <div class="mt-4">
    <a href="/suppliers/" class="btn btn-primary">Suppliers</a>
    <a href="/manufacturers/" class="btn btn-secondary">Manufacturers</a>
    <a href="/customers/" class="btn btn-success">Customers</a>
  </div>
</div>
{% endblock %}
