{% extends 'base.html' %} {% block content %}
<h2>Manufacturers</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    {% for manufacturer in manufacturers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ manufacturer.name }}</td>
      <td>{{ manufacturer.company_name }}</td>
      <td>{{ manufacturer.email }}</td>
      <td>{{ manufacturer.phone }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/manufacturers/add/" class="btn btn-primary">Add Manufacturer</a>
{% endblock %}
